# Работа с реляционными базами данных

### План
1. Реляционная база данных
1. Язык SQL
1. SQLite3 + sqlite3
1. PostgreSQL + psycopg2
1. ORM. [SQLAlchemy](http://www.sqlalchemy.org)

### Реляционная база данных

Реляционные базы данных:
  * Связанная информация, хранящаяся в двумерных таблицах
  * Каждая таблица представляет собой набор полей (колонки) и набор объектов (записей)
  * Порядок записей в таблице произволен, столбцов - фиксирован
  * Идентификация записей осуществляется с помощью первичных ключей

Если коротко, то реляционные базы данных - это таблицы с индексами для быстрого поиска, связанные между собой

### Язык SQL

__SQL__ (__Structured Query Language__, язык структурированных запросов) — это специальный язык, используемый для определения данных, доступа к данным и их обработки. Язык SQL относится к декларативным языкам — он лишь описывает нужные компоненты (например, таблицы) и желаемые результаты, не указывая, как именно эти результаты должны быть получены. Каждая реализация SQL является надстройкой над процессором базы данных (database engine), который интерпретирует операторы SQL и определяет порядок обращения к структурам БД для корректного и эффективного формирования желаемого результата.

Стандарт SQL определяется __ANSI__ — __American National Standarts Institute__ (Американским Национальным Институтом Стандартов) и в настоящее время принят __ISO__ — __International Standarts Organization__ (Международной Организацией по Стандартизации).

SQL — непроцедурный язык: серверу базы данных сообщается, что нужно сделать и каким образом. Для обработки запроса сервер базы данных транслирует команды SQL во внутренние процедуры. Благодаря тому, что SQL скрывает детали обработки данных, его легко использовать.

Что можно делать с помощью SQL?
 * SQL позволяет создавать таблицы данных.
 * SQL позволяет хранить данные.
 * SQL позволяет получать данные.
 * SQL позволяет изменять данные.
 * SQL позволяет изменять структуру таблиц.
 * SQL позволяет объединять данные.
 * SQL позволяет выполнять вычисления.
 * SQL позволяет обеспечивать защиту данных.
  
__Команды SQL__  
Команды SQL разделяются на следующие группы:
 * Команды языка определения данных — __DDL__ (__Data Definition Language__). Эти SQL команды можно использовать для создания, изменения и удаления различных объектов базы данных.
 * Команды языка манипулирования данными — __DML__ (__Data Manipulation Language__). Эти SQL команды позволяют пользователю перемещать данные в базу данных и из нее.
 * Команды языка управления данными — __DCL__ (__Data Control Language__). С помощью этих SQL команд можно управлять доступом пользователей к базе данных и использовать конкретные данные (таблицы, представления и т.д.).
 * Команды языка управления транзакциями — __TCL__ (__Тгаnsасtiоn Соntrol Language__). Эти SQL команды позволяют определить исход транзакции.
  
<img src="images/sql-statements.png" alt="sql-statements" />
   
Мы рассмотрим _DDL_ и _DML_.  
  
---
### DDL  
<img src="images/sql-types.png" alt="sql-types" />  
  
__DDL: Create__
```sql
CREATE TABLE SUPERHERO(
    NAME VARCHAR(100),
    BIRTH_DATE DATE,
    RATING INTEGER,
    ALIAS VARCHAR(50)
);
```
__DDL: Alter__
```sql
ALTER TABLE SUPERHERO ADD AGE INTEGER;
ALTER TABLE SUPERHERO DROP COLUMN RATING;
```
__DDL: Truncate__
```sql
TRUNCATE TABLE SUPERHERO;
```
__DDL: Drop__
```sql
DROP TABLE SUPERHERO;
```
  
---
### DML
__DML: Insert__
```sql
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Tony Stark', '06-JAN-1966', 'Iron man', 100);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Bruce Banner', '28-FEB-1969', 'Hulk', 80);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Steve Rogers', '07-MAR-1921', 'Captain America', 87);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Natasha Romanoff', '01-AUG-1999', 'Black Widow', 59);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Thor', '13-FEB-1976', 'Thor', 74);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Clint Barton', '17-DEC-1969', 'Hawkeye', 55);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Charles Francis Xavier', '30-JUN-1933', 'Professor X', 100);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Wade Winston Wilson', '13-APR-1980', 'Deadpool', 89);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('James Howlett', '01-JAN-1887', 'Wolverine', 89);
```

__DML: Update__
```sql
UPDATE SUPERHERO SET BIRTH_DATE='01-AUG-1940' WHERE NAME='Natasha Romanoff';
```

__DML: Delete__
```sql
DELETE FROM SUPERHERO WHERE NAME='Bruce Banner';
```

__DML: Select__
<img src="images/sql-select-template.png" alt="sql-select-template" /> 
<img src="images/sql-select.png" alt="sql-select" />  
```sql
SELECT ALIAS FROM SUPERHERO;
```
```sql
SELECT ALIAS, RATING FROM SUPERHERO;
```
```sql
SELECT * FROM SUPERHERO;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING > 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING < 60;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING >= 60 AND RATING <= 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING BETWEEN 60 AND 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE NAME IN ('Thor', 'Tony Stark', 'Steve Rogers');
```
```sql
SELECT NAME, ALIAS, RATING FROM SUPERHERO WHERE NAME IN ('Thor', 'Tony Stark', 'Steve Rogers') OR RATING > 90;
```
 * Агрегирующие функции: ```COUNT```, ```SUM```, ```MIN```, ```MAX```, ```AVG```
     * Группировка по полю/полям/выражениям от выбранных полей.
```sql
SELECT COUNT(*) FROM SUPERHERO;
```
```sql
SELECT SUM(RATING), MIN(RATING), AVG(RATING), MAX(RATING) FROM SUPERHERO;
```
 * __GROUP BY__
     * Группировка по полю/полям/выражениям от выбранных полей.
```sql
SELECT RATING, COUNT(*) FROM SUPERHERO GROUP BY RATING;
```
 * __HAVING__
     * Использует в связке с ```GROUP BY``` для наложения ограничений на выборку уже после группировки.
     * Ограничение с использованием ```WHERE``` накладывать можно только до группировки.
```sql
SELECT RATING, COUNT(*) FROM SUPERHERO GROUP BY RATING HAVING COUNT(*)<>1;
```
 * __ORDER BY__
     * ASC – по возрастанию (по умолчанию)
     * DESC – по убыванию
```sql
SELECT * FROM SUPERHERO ORDER BY RATING DESC;
```

#### Резюме  

* [Язык структурированных запросов](https://ru.wikipedia.org/wiki/SQL)
* Стандартизирован, но БД пытаются соответствовать стандарту ANSI не позволяя ему ограничивать их слишком сильно
* Типы: Числа (INTEGER и DECIMAL), строки (CHAR, VARCHAR) и т.д.
* Операторы: SELECT FROM, WHERE, GROUP BY, COUNT, HAVING и т.д.
* Джойны: INNER JOIN, OUTER JOIN и т.д.
* Подзапросы
* Команды модификации: INSERT, DELETE, UPDATE
* Создание таблиц

### SQLite3

* Простейший способ использовать БД
* Вся БД хранится в одном файле
* Отличный способ иметь БД в мобильных приложениях
* Доступ из коммандной строки: ```sqlite3 <filename>```
* API для Python, С++ и т.д.

#### Попробуем выполнить простой запрос

In [2]:
import sqlite3

# Соединение с базой
conn = sqlite3.connect('example.db')

# Объект для исполнения SQL запросов над базой
cur = conn.cursor()

# Выполним какой-нибудь запрос
cur.execute('select 1')

# Читаем результат. fetchone ожидает единственную строку
print(cur.fetchone())

# Закрываем за собой соединение с базой.
conn.close()

(1,)

Не забываем закрывать соединение! <br>
**Connection - это ресурс, который может и закончиться.** <br>
В этом нам помогут контекстные менеджеры.

In [3]:
# Соединение с базой теперь закроется само.
with sqlite3.connect('example.db') as conn:
    
    # Объект для исполнения SQL запросов над базой
    cur = conn.cursor()

    # Выполним какой-нибудь запрос
    cur.execute("select 'Hello, world!', 6 * 7")

    # Читаем результат. fetchone ожидает единственную строку
    print(cur.fetchone())

('Hello, world!', 42)

Установка соединения может быть дорогой операцией.<br>
Не стоит создавать соединение для каждого запроса. По возможности переиспользуйте старое.

#### Теперь посмотрим как работать с sqlite3 на примере простой базы с пользователями.<br>
Для начала создадим таблицы:

In [4]:
def create_tables(cur, conn):
    # Удалим старые таблицы, если есть.
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # Пишем SQL запрос для создания таблиц
    cur.execute('''
        CREATE TABLE user_types (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR(255)
        )''')
    cur.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )''')
    
    # Отправить текущую транзакцию.
    # Если не сделать, то изменения не будут видны в других connect'ax
    # Закрытие соединения не вызывает commit автоматически!
    conn.commit()

Работать с пустыми таблицами - не очень интересно, давайте заполним их

In [5]:
def add_user_types(cur):
    cur.execute('''INSERT INTO user_types (name) VALUES ('Student')''')
    cur.execute('''INSERT INTO user_types (name) VALUES ('Teacher')''')

def add_teachers(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Maxim', 'Popov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Igor', 'Orlov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')

def add_strudents(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Ivan', 'Ivanov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Petrov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Sidorov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')

Выполним запросы к базе

In [6]:
with sqlite3.connect('example.db') as conn:

    cur = conn.cursor()
    
    # Функция создания таблиц коммитит транзакцию сразу.
    create_tables(cur, conn)
    
    # Функции добавления польователей не вызывают commit.
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    
    # Делаем commit для всех запросов добавления.
    # Если забудем - то таблицы останутся пустыми.
    conn.commit()

Попробуем теперь зачитать всех студентов

In [7]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # Получить все строчки результата выполнения query
    # Это не всегда быстро, особенно если много результатов
    # Кроме того большое потребление памяти, так как возвращается list
    rows = cur.fetchall() 

    # Как fetchall только задаем сколько хотим получить
    # rows = cur.fetchmany(10) 

    for row in rows:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

In [8]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # А лучше просто проитерироваться
    for row in cur:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

Попробуем сделать учителя Maxim Popov студентом

In [9]:
def alter_teacher(conn):
    cur = conn.cursor()
    cur.execute('''UPDATE users SET profile = (SELECT id FROM user_types WHERE name = "Student")
                   WHERE first_name = "Maxim" AND last_name = "Popov"
    ''')

with sqlite3.connect('example.db') as conn:
    alter_teacher(conn)

Посмотрим на результат

In [10]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Maxim Popov
Ivan Ivanov
Petr Petrov
Petr Sidorov

Создадим функцию, чтобы добавить всех студентов сразу!

In [11]:
def add_strudents(conn, students):
    queries = []
    
    for student in students:
        query = '''
            INSERT INTO users (first_name, last_name, active, profile) VALUES 
                ("{}", "{}", 0, 
                    (SELECT id FROM user_types WHERE name = "Student"));'''
        queries.append(query.format(*student))
    
    cur = conn.cursor()
    
    # Исполняет сразу несколько запросов, разделенных ';'
    cur.executescript(''.join(queries))

In [12]:
with sqlite3.connect('example.db') as conn:
    students = [('Vladimir', 'Vladimirov'), ('Dmitry', 'Dmitriev')]
    add_strudents(conn, students)
    
    # Проверим, что все вставилось.
    select_all_students(conn)

Maxim Popov
Ivan Ivanov
Petr Petrov
Petr Sidorov
Vladimir Vladimirov
Dmitry Dmitriev

Все отлично работает!

In [13]:
with sqlite3.connect('example.db') as conn:
    students = [('cool', 'hacker", 0, 0); drop table users; --')]
    add_strudents(conn, students)

OperationalError: near "(": syntax error

In [14]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

OperationalError: no such table: users

Where is my table, Lebowski???

<img src="https://imgs.xkcd.com/comics/exploits_of_a_mom.png">

# Работа с <имя вашей любимой базы>

Почти ничем не отличается от SQLite.*

\* В случае, если поддержан [Python DB API 2.0](https://www.python.org/dev/peps/pep-0249/)

PostgreSQL: [psycopg2](http://initd.org/psycopg/)

In [17]:
#postgreSQL
try:
    import psycopg2
except:
    !pip install psycopg2-binary

#MySQL
try: 
    import pymysql
except:
    !pip install pymysql

In [21]:
# Поменялся способ подключения. 
# Теперь указываем не файл, а хост, базу, пользователя и пароль.
# Чтобы это работало, должен быть запущен psqld.
# Также, нужно создать пользователя с паролем и базу.
with psycopg2.connect(dbname='testdb', user='testuser', 
                      host='0.0.0.0', password='testuser') as conn:
    
    # А остальной интерфейс сохранился.
    cur = conn.cursor()
    cur.execute("select 'Hello, world!', 6 * 7")
    print(cur.fetchone())

OperationalError: could not connect to server: Connection refused
	Is the server running on host "0.0.0.0" and accepting
	TCP/IP connections on port 5432?

[Как установить PostgreSQL в Ubuntu и добавить пользователя](https://www.digitalocean.com/community/tutorials/postgresql-ubuntu-16-04-ru#создание-новой-роли)

Создадим таблички

In [153]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    
    cur = conn.cursor()
    
    # Удалим старые таблицы, если есть.
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # SQL диалект может немного меняться
    # Используем тип SERIAL вместо свойстав AUTOINCREMENT
    cur.execute('''
        CREATE TABLE user_types (
            id SERIAL PRIMARY KEY,
            name VARCHAR(255)
        )
    ''')
    cur.execute('''
        CREATE TABLE users (
            id SERIAL PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )
    ''')

Многие запросы работают без изменений.

In [154]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    cur = conn.cursor()
    
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    conn.commit()
    
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

# SQLAlchemy

In [16]:
import sqlalchemy
from sqlalchemy import create_engine

In [18]:
#dialect+driver://username:password@host:port/database
engine = create_engine('sqlite:///example_alchemy.db', echo=True)
# engine = create_engine('sqlite:///:memory:', echo=True)

# echo=True - для дополнительного логгирования

#### Опишем данные, которые хотим хранить

In [19]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Boolean, ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class UserType(Base):
    __tablename__ = 'user_types'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    users = relationship("User")
    
    def __repr__(self):
        return "<UserType(name={})>".format(self.name)  

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    active = Column(Boolean)
    profile_id = Column(Integer, ForeignKey('user_types.id'))
    profile = relationship("UserType", back_populates="users")
    
    def __repr__(self):
        return "<User(first_name={}, last_name={}, active={})>"\
            .format(self.first_name, self.last_name, self.active)

In [20]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('first_name', String(), table=<users>), Column('last_name', String(), table=<users>), Column('active', Boolean(), table=<users>), Column('profile_id', Integer(), ForeignKey('user_types.id'), table=<users>), schema=None)

#### Создадим таблицы в базе

In [21]:
Base.metadata.create_all(engine)

2020-11-08 14:41:50,611 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-08 14:41:50,614 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,617 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-08 14:41:50,619 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,622 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user_types")
2020-11-08 14:41:50,624 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,628 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("user_types")
2020-11-08 14:41:50,630 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,632 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2020-11-08 14:41:50,634 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,643 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2020-11-08 14:41:50,645 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,649 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user_types (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2020-11-08 14:41:50,652 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,658 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-08 14:41:50,662 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	first_name VARCHAR,
	last_name VARCHAR,
	active BOOLEAN,
	profile_id INTEGER,
	PRIMARY KEY (id),
	CHECK (active IN (0, 1)),
	FOREIGN KEY(profile_id) REFERENCES user_types (id)
)


2020-11-08 14:41:50,663 INFO sqlalchemy.engine.base.Engine ()
2020-11-08 14:41:50,667 INFO sqlalchemy.engine.base.Engine COMMIT

Вставим данные

In [22]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

student = UserType(name='student')
session.add(student)

teacher = UserType(name='teacher')
session.add(teacher)

session.commit()

2020-11-08 14:42:26,510 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-08 14:42:26,513 INFO sqlalchemy.engine.base.Engine INSERT INTO user_types (name) VALUES (?)
2020-11-08 14:42:26,516 INFO sqlalchemy.engine.base.Engine ('student',)
2020-11-08 14:42:26,521 INFO sqlalchemy.engine.base.Engine INSERT INTO user_types (name) VALUES (?)
2020-11-08 14:42:26,523 INFO sqlalchemy.engine.base.Engine ('teacher',)
2020-11-08 14:42:26,527 INFO sqlalchemy.engine.base.Engine COMMIT

Найдем тип учителя в базе

In [23]:
res = session.query(UserType).filter_by(name='teacher').first() 
res

2020-11-08 14:42:40,454 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-08 14:42:40,457 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.name = ?
 LIMIT ? OFFSET ?
2020-11-08 14:42:40,460 INFO sqlalchemy.engine.base.Engine ('teacher', 1, 0)

In [24]:
teacher is res

True

one vs first

In [25]:
session.query(UserType).filter_by(name='teacher12').one()

2020-11-08 14:43:07,881 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.name = ?
2020-11-08 14:43:07,885 INFO sqlalchemy.engine.base.Engine ('teacher12',)

NoResultFound: No row was found for one()

In [26]:
session.query(UserType).one()

2020-11-08 14:43:14,588 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
2020-11-08 14:43:14,591 INFO sqlalchemy.engine.base.Engine ()

MultipleResultsFound: Multiple rows were found for one()

Разные виды "select"

In [27]:
results = session.query(UserType).order_by(UserType.id).all()
print(type(results))
print(results)

2020-11-08 14:43:27,008 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types ORDER BY user_types.id
2020-11-08 14:43:27,011 INFO sqlalchemy.engine.base.Engine ()
<class 'list'>
[<UserType(name=student)>, <UserType(name=teacher)>]

In [28]:
for name, user_id in session.query(UserType.name, UserType.id).order_by(UserType.name):
    print(name, user_id)

2020-11-08 14:43:36,514 INFO sqlalchemy.engine.base.Engine SELECT user_types.name AS user_types_name, user_types.id AS user_types_id
FROM user_types ORDER BY user_types.name
2020-11-08 14:43:36,516 INFO sqlalchemy.engine.base.Engine ()
student 1
teacher 2

#### Добавим нового учителя

In [29]:
user = User(first_name="Maxim", last_name="Popov", active=True)
teacher.users.append(user)
session.add(user)
session.commit()

2020-11-08 14:43:51,722 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2020-11-08 14:43:51,726 INFO sqlalchemy.engine.base.Engine (2,)
2020-11-08 14:43:51,733 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name, active, profile_id) VALUES (?, ?, ?, ?)
2020-11-08 14:43:51,736 INFO sqlalchemy.engine.base.Engine ('Maxim', 'Popov', 1, 2)
2020-11-08 14:43:51,742 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
res = session.query(User).first() 
res

2020-11-08 14:44:03,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-08 14:44:03,666 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
 LIMIT ? OFFSET ?
2020-11-08 14:44:03,669 INFO sqlalchemy.engine.base.Engine (1, 0)

In [15]:
res.profile

2019-04-10 18:07:09,564 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-04-10 18:07:09,569 INFO sqlalchemy.engine.base.Engine (2,)

Добавим студента

In [31]:
user = User(first_name="Petr", last_name="Sidorov", active=False, profile=student)
session.add(user)
session.commit()

2020-11-08 14:44:37,339 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2020-11-08 14:44:37,341 INFO sqlalchemy.engine.base.Engine (1,)
2020-11-08 14:44:37,345 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name, active, profile_id) VALUES (?, ?, ?, ?)
2020-11-08 14:44:37,346 INFO sqlalchemy.engine.base.Engine ('Petr', 'Sidorov', 0, 1)
2020-11-08 14:44:37,349 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
student.users

2020-11-08 14:44:44,400 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-08 14:44:44,404 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2020-11-08 14:44:44,406 INFO sqlalchemy.engine.base.Engine (1,)
2020-11-08 14:44:44,410 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2020-11-08 14:44:44,412 INFO sqlalchemy.engine.base.Engine (1,)

Сделаем его учителем

In [33]:
user.profile = teacher
session.commit()

2020-11-08 14:45:02,081 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2020-11-08 14:45:02,084 INFO sqlalchemy.engine.base.Engine (2,)
2020-11-08 14:45:02,088 INFO sqlalchemy.engine.base.Engine UPDATE users SET profile_id=? WHERE users.id = ?
2020-11-08 14:45:02,090 INFO sqlalchemy.engine.base.Engine (2, 2)
2020-11-08 14:45:02,095 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
student.users

2020-11-08 14:45:05,029 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-08 14:45:05,034 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2020-11-08 14:45:05,036 INFO sqlalchemy.engine.base.Engine (1,)
2020-11-08 14:45:05,040 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2020-11-08 14:45:05,041 INFO sqlalchemy.engine.base.Engine (1,)

[]

In [35]:
teacher.users

2020-11-08 14:45:07,236 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2020-11-08 14:45:07,239 INFO sqlalchemy.engine.base.Engine (2,)
2020-11-08 14:45:07,242 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2020-11-08 14:45:07,244 INFO sqlalchemy.engine.base.Engine (2,)

[<User(first_name=Maxim, last_name=Popov, active=True)>,
 <User(first_name=Petr, last_name=Sidorov, active=False)>]

Какая еще бывает фильтрация?

In [36]:
# equals
session.query(UserType).filter(UserType.name == 'teacher')
# not equals
session.query(UserType).filter(UserType.name != 'teacher')
# LIKE
session.query(UserType).filter(UserType.name.like('%tea%'))
# ILIKE (case-insensitive LIKE):
session.query(UserType).filter(UserType.name.ilike('%TeA%'))
# IS NULL
session.query(UserType).filter(UserType.name.is_(None))
# IS NOT NULL
session.query(UserType).filter(UserType.name.isnot(None))
              
from sqlalchemy import and_
#AND
session.query(UserType).filter(and_(UserType.name.isnot(None), UserType.name != 'abc'))
session.query(UserType).filter(UserType.name.isnot(None), UserType.name != 'abc')
session.query(UserType).filter(UserType.name.isnot(None)).filter(UserType.name != 'abc')

#OR
from sqlalchemy import or_
session.query(UserType).filter(or_(UserType.name.isnot(None), UserType.name != 'abc'))

In [41]:
#IN
session.query(User).filter(User.profile_id.in_(
    session.query(UserType.id)
)).all()

2020-11-08 14:46:12,945 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE users.profile_id IN (SELECT user_types.id AS user_types_id
FROM user_types)
2020-11-08 14:46:12,947 INFO sqlalchemy.engine.base.Engine ()

[<User(first_name=Maxim, last_name=Popov, active=True)>,
 <User(first_name=Petr, last_name=Sidorov, active=False)>]